* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header Title */
  .header {
    padding: 20px 10px;
    text-align: left;
    background: white;
    overflow: hidden;
  }

  .header-right {
    float: right;
    width: 25%;
  }
  
  .header h1 {
    font-size: 50px;
  }

  .header img {
      width: 100px;
      height: 100px;
      /* vertical-align: middle; */
      float: left;
  }

  .header h1 {
      position: relative;
      /* top: 5px; */
      left: 20px;

      color:  #e51437;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn, .header-left {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .header-left, .header-right {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

/* The social media icons */
.follow {
  color: black;
  font-size: 2em;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
  margin: 1% 0 1% 1.6%;
  position: relative;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4, .span_1_of_2 { width: 100%; }
}

.col span {
  position: absolute;
  bottom: 0;
  right: 0;
}

