* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #becdc1;
  }
  
  a {
    text-decoration: none;
    color: #000505;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Header Title */
  .header {
    padding: 20px 10px;
    text-align: left;
    background: white;
    overflow: hidden;
  }

  .header-right {
    float: right;
    width: 25%;
  }
  
  .header h1 {
    font-size: 50px;
    position: relative;
    left: 20px;
  }

  .header img {
      width: 100px;
      height: 100px;
      /* vertical-align: middle; */
      float: left;
  }

  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #fffffc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #c4f1be;
    color: #000505;
  }

  .topnav a.active {
    color: #000505;
    background-color: #c4f1be;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn, .header-left {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #becdc1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 10px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: #000505;
    margin-top: 20px;
    color: #fffffc;
  }

  .footer a {
    color: #fffffc;
  }
  
  .footer a:hover {
    color: #ff0022;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .header-left, .header-right {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 420px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

/* The social media icons */
.follow {
  color: #000505;
  font-size: 2em;
}

.beautify {
  color: #000505;
  vertical-align: middle;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
  margin: 1% 0 1% 1.6%;
  position: relative;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}
.span_1_of_2 {
	width: 49.2%;
}
.span_1_of_2_lit {
	width: 64.54%;
}

.span_2_of_2_lit {
  width: 32.26%;
}

.span_1_of_1 {
  width: 100%;
}
.span_2_of_3 { width: 64.54%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4, .span_1_of_2, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.col span {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Space the form fiels */
input { margin-bottom: 10px; }

.form-header, .article-header {
  padding: 3px;
  border-top: solid 2px;
  border-bottom: solid 1px;
}

.header-icon {
  float: right;
  font-size: 100px;
}

.testimonials-header {
  background: #000505;
  padding: 10px;
  color: white;
}

.faq-header {
  border-top: solid 2px;
  border-bottom: solid 1px;
  padding: 15px;
}

.testimonial {
  margin-top: 30px;
}

.sign-up {
  color: white;
  background-color: #000505;
  padding: 10px; 
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}



